<form action="/new" method="POST">
  <input type="text" name="ruc"></input>
  <input type="text" name="nombre"></input>
  <input type="submit"></input>
</form>


  <table>
    <thead>
      <td>username</td>
      <td>password</td>
      <td>nota</td>
    </thead>
    <tbody>
{% for item in items %}
      <tr>
        <td>{{ item.username }}</td>
        <td>{{ item.password }}</td>
        <td><table>
          {{item.notas}}
              <thead>
                <td>notas</td>
              </thead>
                  <tbody>
                    {% for  nota in item.notas %}
                    <tr>
                      <td>{{ nota.nombre }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
        </table></td>
      </tr>
{% endfor %}
    </tbody>
  </table>

